body {
    color: #345D17;
    font-weight: bold;
    font-size: 15px;
    background: url('q.jpg');
    width: 200px;
}


img {
    width: 320px;
    height: 300px;
    position: absolute;
    top: 90px;
    right: 0;
    transition: 2s;
    z-index: 100000;
    margin-top: 10px;
    margin-bottom: 5px;
    opacity: 1;
}


header {
    color: #ddd;
    background: linear-gradient(100deg,#006C4A,#39C851,#45A7D9);
    padding: 5px;
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    text-align: center;
    margin-bottom: 10px;
}


.sa {
    color: #FFD09A;
    position: absolute;
    top: 400px;
    right: 2px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 25px;
    background-color: #533109;
    border-radius: 10px;
    transform: translateX(-25px);
    width: 80%;
}

.sa p {
    display: block;
    margin: 0;
    margin-right: 5px;
    padding: 10px;
    text-align: center;
}


div:not(.sa , .cont ,#app) {
    color: seagreen;
    position: absolute;
    top: 95px;
    right: 2px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 25px;
}

.z {
    color: #eee;
    background: linear-gradient(#399D7A,#3191D4);
    width: 150px;
    height: 110px;
    position: absolute;
    top: 155px;
    right: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    text-decoration: none;
}

.q {
    color: #eee;
    background: linear-gradient(#399D43,#399D8A);
    width: 150px;
    height: 110px;
    position: absolute;
    top: 155px;
    left: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    text-decoration: none;
}

.s {
    color: #eee;
    background: linear-gradient(#DDDC20,#EFAC15);
    width: 93%;
    height: 110px;
    position: absolute;
    bottom: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    text-decoration: none;
}



.surah-list {
    color: #008774;
    text-align: auto;
    width: 300px;
    height: 100px;
    transform: translateY(160px);
    margin: none;
    border-radius: 10px;
}


.surah-list li {
    background: #FFFFFF;
    box-shadow: 2px 2px 2px 2px #E5E5E5;
    border-radius: 10px;
    border: 2px solid #525252;
    padding: 5px;
    margin: 10px 0 5px 0;
}

h3  {
    border: 2px #5B93A8 solid;
    border-radius: 5px;
    transform: translate(0px,180px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.back-btn {
    transform: translate(-150px,-160px);
    color: #EBFFBF;
    background: #3580E4;
    width: 100px;
    border: 1px solid #399D7A;
    border-radius: 5px;
    position: absolute;
    right: 2px;
}

.ayah-text  {
    height: 100px;
    transform: translateY(-190px);
    width: 300px;
    background: #1D431E;
    border-radius: 5px;
    border: 1px #28642B solid;
    position: absolute;
    top: 0px;
    padding: 0px;
    display: inline-block;
}

.ayah-text span {
    background: #1D431E;
    color: #DCCFB8;
    padding: 0px;
}

h4 {
    transform: translateY(-200px);
    color: #E5DFDF;
    background: #000;
    width: 100px;
    height: 60px;
    border: 1px solid #41C1E3;
    border-radius: 10px;
    display: inline-block;
    z-index: 100000;
    padding: 10px;
    
}



h1  {
    color: lightgoldenrodyellow;
    background: darkcyan;
    position: relative;
    z-index: 2222²222;
    
}



button {
    color: #EBFFBF;
    background: #3580E4;
    width: auto;
    border: 1px solid #399D7A;
    border-radius: 5px;
    margin: 0 5px 0 5px;
}


h2 {
    color: greenyellow;
    font-size: 30px;
}


